.Logo{
    height: 10%;
    width: 20%;
    border-radius: 10%;
    
}
.customNavBar{
    background-color: #030305;
}
.customNavLink{
    color:white;
}
.customNavLink:hover{
    color:#D9768C;
}
.customNavLink:active{
    color:white;
}


;